
    <h4 class="center-align">Coach <%= current_coach.name %>'s Dashboard</h4>



<div class="row">
  <div class="col s12 m5">
    <div class="card #424242 grey darken-3">
      <div class="card-content white-text">
        <span class="card-title">Your Teams</span>
      </div>
      <div class="card-action">
        <a href="#">Varsity</a>
        <a href="#">Junior Varsity</a>
      </div>
    </div>
  </div>
  <div class="col s12 m2"></div>
  <div class="col s12 m5">
    <div class="card #424242 grey darken-3">
      <div class="card-content white-text">
        <span class="card-title">Your Teams</span>
      </div>
      <div class="card-action">
        <a href="#">Varsity</a>
        <a href="#">Junior Varsity</a>
      </div>
    </div>
  </div>
</div>
