/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize";
 @import url("https://fonts.googleapis.com/css?family=Graduate");
 @import url('https://fonts.googleapis.com/css?family=Oswald:200,700');    

html { 
    font-family: "Oswald Light", sans-serif
}

#welcome {
    background: image-url("volleyball.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#login {
    background: image-url("volleyball.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#signup {
    background: image-url("volleyball.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#nav-status {
    position: relative;
    margin: auto;
}

.texture {
    background: image-url("texture.png") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

select {
    display: inline-block;
}

#logo {
     font-family: "Graduate", cursive;
     font-size: 40px;
     position: absolute;
}

#light {
    font-family: "Oswald Extra-Light", sans-serif;
    font-weight: 200;
    font-size: 50px;
    letter-spacing: -3px;
    text-transform: uppercase;
}

#thick {
    font-family: 'Oswald Bold', sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}